.from {
  background-color: rgb(119, 0, 0);
  color: white;
  border: 2px solid black;
  margin-top: 10px;
}

.messages {
  border-bottom: 2px solid black;
}

.profile {
  margin-top: 10vh;
  top: 0;
  position: fixed;
  left: 5vh;
}

.log {
  overflow-y: scroll;
  height: 50vh;
}
