.leavemessage {
  display: flex;
  flex-direction: column;
}

.submit {
  margin-top: 2vh;
  height: 6vh;
  width: 12vh;
}

.title {
  border: 2px solid black;
  background-color: rgb(125, 28, 28);
  color: white;
}

.singlepost {
  text-align: center;
}
